<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the magazines_init() hook (in hooks/magazines.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

<td id="magazines-title-<%%VALUE(id)%%>" class="magazines-title"><%%SELECT%%><%%VALUE(title)%%><%%ENDSELECT%%></td>
<td id="magazines-category-<%%VALUE(id)%%>" class="magazines-category"><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></td>
<td id="magazines-tags-<%%VALUE(id)%%>" class="magazines-tags"><%%SELECT%%><%%VALUE(tags)%%><%%ENDSELECT%%></td>
<td id="magazines-content-<%%VALUE(id)%%>" class="magazines-content"><%%SELECT%%><%%VALUE(content)%%><%%ENDSELECT%%></td>
<td id="magazines-photo-<%%VALUE(id)%%>" class="magazines-photo"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" data-lightbox="magazines-photo"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=magazines&f=photo&v=tv" class="img-thumbnail"></a></td>
<td id="magazines-date-<%%VALUE(id)%%>" class="magazines-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
<td id="magazines-author-<%%VALUE(id)%%>" class="magazines-author"><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
<td id="magazines-posted-<%%VALUE(id)%%>" class="magazines-posted"><%%SELECT%%><%%VALUE(posted)%%><%%ENDSELECT%%></td>
